* {
  font-family: 'Roboto', sans-serif;
  color: black;
}

/* body {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column; 
  align-items: center;
  min-height: 100vh; /* Ensures the content takes up at least the full viewport height */
  /* margin: 0; Remove default body margin */
/* } */ 
  
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  flex: 1; /* Makes the container expand to fill the available vertical space */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center content */
  align-items: center; /* Horizontally center content */
  padding-bottom: 100px;
  /* min-height: 100vh; */
}

#isWebsiteDown {
  width: 100%;
  text-align: center; /* Center the text inside the element */
  font-size: 9em;
}

#customMessage {
  width: 100%;
  font-size: 1.5em;
  text-align: center;
}

#footer {
  font-size: 0.8em;
  text-align: center;
  position: fixed;
  bottom: 2%; /* Fix the footer to the bottom of the viewport */
  width: 100%; /* Make the footer span the entire viewport width */
}
